# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Node / Angular
node_modules/
dist/
.angular/
*.tsbuildinfo

# Entornos
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db